#color{
    display: flex;
    flex-direction: row;

}

#red{
    margin-right: 3px;
    height: 100px;
    width: 100px;
    background-color: rgb(228, 31, 31)
}

#blue{
      margin-right: 3px;
     height: 100px;
    width: 100px;
    background-color: blue;
}
#yellow{
      margin-right: 3px;
     height: 100px;
    width: 100px;
    background-color: yellow;
}



#practice{
    display: flex;
    background-color: blue;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

 #container{
    width: 370px;
    height: 100px;
    background-color: white;
    /* display: flex; */
    text-align: center;
    padding: 30px;
    /* align-items: center;
    justify-content: center; */
} 

button{
    background-color: rgb(5, 4, 4);
    color: white;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    display: block;
    margin-bottom: 30px;
}